@keyframes rotation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(359deg);
    }
  }

  
.Loading__indicator{
    color: rgb(22, 176, 236);
    position: relative;
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}
.Loading__indicator__icon{
    animation: rotation 2s infinite linear;
}