/* 404 page css*/

.notfound {
  display: grid;
  place-items: center;
  height: 100vh;
  padding: 2rem;
}
.notfound > div > Link {
  width: 200px;
}
.notfound-text {
  font-size: 3rem !important;
}

.fa-exclamation-triangle {
  color: red;
  font-size: 4rem !important;
}

.link-btn {
  background: black;
  padding: 15px;
  color: white;
  display: block;
  width: 200px;
  text-align: center;
  margin: 10px auto;
}
