.rating__and__review__modal {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  z-index: 10000;
  padding-top: 10vh;
}
.rating__and__review__wrapper {
  height: 60vh;
  width: 30vw;
  background-color: white;

  padding: 10px;
  position: relative;
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  border-top: 15px solid teal;
  border-radius: 10px;
}
.skip__button {
  position: absolute;
  top: 0;
  right: 0;
  height: max-content;
  cursor: pointer;
  padding: 5px;
  background-color: transparent;
  border: none;
}
.rating__wrapper {
  flex: 4;
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 10px;
  justify-content: center;
  align-items: center;
}
.rating__wrapper > h1 {
  font-size: 1.3rem;
  margin-bottom: 3vh;
}
.rating__wrapper > h1 > span {
  color: teal;
}
.rating__wrapper > .rating__stars > span > .MuiSvgIcon-root {
  color: rgba(0, 0, 0, 0.5) !important;
  cursor: pointer;
}
.rating__wrapper > .rating__stars > span.shine > .MuiSvgIcon-root {
  color: goldenrod !important;
}

.review__wrapper {
  flex: 6;
  width: 100%;
  display: flex;
  flex-direction: column;

  justify-content: flex-start;
  align-items: flex-start;
  padding: 15px;
  padding-top: 5vh;
}
.review__wrapper > h1 {
  font-size: 1.3rem;
  padding-bottom: 3vh;
}
.review__wrapper > input {
  width: 80%;
  height: 50px;
  border: none;
  border-bottom: 2px solid black;
}
.review__wrapper > button {
  margin-top: 5vh;
  padding: 5px 10px;
  background-color: teal;
  color: white;
  border: none;
  width: 80%;
  margin-left: 10%;
  text-align: center;
  cursor: pointer;
}
.review__wrapper > button:hover {
  color: teal;
  background-color: white;
  border: 3px solid teal;
}
