:root {
  --color1: whitesmoke;
}
.video__call__container {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: var(--color1);
  overflow: hidden;
}
.video__call__navbar {
  height: max-content;
  width: 100vw;
  height: 8vh;
  position: absolute;
  background-color: teal;
  color: white;
  position: absolute;
  top: 0;
  left: 0;
}
.video__call__navbar > h3 {
  font-size: 1.2rem;
  padding: 10px;
  text-align: center;
  width: 100%;
  height: 8vh;
}
/***** notifications ******/
.video__call__notification__box {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
  color: teal;
  position: absolute;
  width: 100vw;
  height: 10vh;
  top: 0;
}
.video__call__answerCall__btn {
  margin-left: 15px;
  padding: 10px;
  background-color: teal;
  color: white;
  cursor: pointer;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: 500;
  border: none;
  border-radius: 3px;
  transition: all 0.3s ease;
}
.video__call__answerCall__btn:hover {
  background-color: white;
  color: teal;
  border: 2px solid teal;
}
/******   sidebar  *************/
.video__call__options__container {
  background-color: var(--color1);
  position: absolute;
  bottom: 0;
  width: 100vw;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  /* border: 2px solid teal; */
  border-bottom: none;
  padding: 0px;
  height: 18vh;
  padding: 30px;
}
.video__call__options__container__buttons {
  margin-bottom: 10px;
  background-color: var(--color1);
  display: flex;
  align-items: flex-start;
}
.video__call__options__container__buttons > button {
  padding: 5px 10px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  border-radius: 2px;
  border: none;
  cursor: pointer;

  height: 160px;
  width: 160px;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  margin-top: -13vh;
  transition: all 0.3s ease;
}
.video__call__options__container__buttons > button > .MuiSvgIcon-root {
  color: white;
}
.video__call__options__container__buttons > .startCall__btn {
  background-color: rgb(55, 190, 55);
  color: white;
  cursor: pointer;
}
.video__call__options__container__buttons > .startCall__btn:hover {
  background-color: white;
  color: rgb(55, 190, 55);
  border: 2px solid rgb(55, 190, 55);
}
.video__call__options__container__buttons
  > .startCall__btn:hover
  > .MuiSvgIcon-root {
  color: rgb(55, 190, 55);
}
.video__call__options__container__buttons > .endCall__btn {
  color: white;
  background-color: rgb(160, 13, 13);
}
.video__call__options__container__buttons > .endCall__btn:hover {
  background-color: white;
  color: rgb(160, 13, 13);
  border: 2px solid rgb(160, 13, 13);
}
.video__call__options__container__buttons
  > .endCall__btn:hover
  > .MuiSvgIcon-root {
  color: rgb(160, 13, 13);
}
/**************  videoplayer *****************************************************/
.video__call__videoplayer__container {
  background-color: var(--color1);
  margin-top: 0vh;
  height: 82vh;
  width: 100vw;
  display: grid;
  grid-template-columns: 50vw 50vw;
  gap: 0 0;
  position: absolute;
  top: 0;
}
.video__call__videoplayer__container > .screen {
  background-color: var(--color1);

  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;

  position: relative;
}
.video__call__videoplayer__container > .screen > h5 {
  color: black;
  background-color: whitesmoke;
  color: black;
  height: 10vh;
  width: 49vw;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  position: absolute;
  bottom: 0;
}
.video__call__videoplayer__container > .screen > video {
  margin: 0px;
  width: 49vw;
  height: 82vh;
  position: absolute;
  top: 0;
}
