
  .scrollTop {
    position: fixed; 
    width: 140%;
    bottom: 20px;
    height: 20px;
    justify-content: center;
    margin-left: 25%;
    z-index: 1000;
    cursor: pointer;
    color: #309895;
    animation: fadeIn 0.3s;
    transition: opacity 0.4s;
    opacity: 0.5;
  }
  
  .scrollTop:hover{
    opacity: 1;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 0.5;
    }
  }